body{
    background-color: black;
    text-align: center;
}
.header{
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    align-content: center;
}
.download-link{
    color: aquamarine;
    font-size: 16px;
}
.advertisement-msg{
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
}
.app-description{
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}
.logo{
    text-align: right;
    color: gray;
}